
/* Dropdown Button */
.dropbtn {
    background-color: #aa045f;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* hover & focus */

.droptn:hover, .dropbtn:focus {
    background-color: #c79daf;
}

