
/* Dropdown Button */
.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* hover & focus */

.droptn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

/* search */
#stateInput {
    box-sizing: border-box;
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid #ddd;
}

/* search when it gets clicked or focused */
#stateInput:focus {outline: 3px solid #ddd}

/* div position content */
.filter-dropdown {
    position: relative;
    display: inline-block;
}

/* dropdown content */


