/* dropdown */
.custom-select {
    position: relative;
    font-family: Georgia;
}

/* hide original select element */
.custom-select select {
    display: none;
}

/* dropdown colore */
.select-selected {
    background-color: #aa045f;
}

/* style arrow inside select element */

.droptn:hover, .dropbtn:focus {
    background-color: #c79daf;
}

